.fondBlindTest{
    background: gray /* linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 24, 54) 49.9%, rgb(0, 0, 0) 50%) 0% 0% / 200% 100%*/;
    animation: 92s linear 0s infinite normal none running BGCountdown;
}

/* a.cellLien { */
    /* text-align: center; */
    /* font-size: 2rem; */
    /* width: 25%;
    outline: none;
    text-decoration: none;
    display: inline-block;
    line-height: 3; */

    /* border: 1px solid #000;
        padding: 1px; */
/* } */

.timeClock
/* .timeClockPaused */
{ 
    position: fixed;
    top: 0;
    right: 0;
    font-size: 3.5em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.2);
    color: #fff;
    background-color: #000;
    text-align: center;
}

#tpsVal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

/* .timeClock::after {
    border-right-color: var(--mainC);
    animation: spin-opacity 1s infinite reverse linear;
} */

/* .timeClock::before,
.timeClock::after,
.timeClockPaused::before,
.timeClockPaused::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 3px solid transparent;
    border-right-color: transparent;
} */

/* .timeClock::before {
    border-left-color: var(--mainC);
    -webkit-animation: spin-opacity 2s infinite linear;
    animation: spin-opacity 2s infinite linear;
} */



/* .timeClock::after {
    border-right-color: var(--mainC);
    animation: spin-opacity 1s infinite reverse linear;
} */

/* Image Central */

div.Test, 
div.ImgTest,
.cellLien{
    /* width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto; */
    display: flex;
    justify-content: center;
    height: 200px;
}



div.Test svg,
div.ImgTest img,
.cellLien svg{
    position: absolute;
    
}

div.Test svg,
div.ImgTest img {
    transform: translate(0%, -80%);
}

.cellLien.previous {
    transform: translate(0%, -80%);
}

.cellLien.next {
    transform: translate(0%, -80%);
    margin-left: 80%;
    background-color: red;
}

.cellLien{
    width: 15%
}

svg .help-3,
svg .previous.detail,
svg .next.detail{
    fill: greenyellow ;
}
